.content-title {
  color: #fff;
}
.basic-content {
  position: relative;
  .content-title {
    color: #2a2e31;
  }
  &::after {
    background: url(/images/arc.png);
    background-size: 100% 100%;
    content: "";
    display: block;
    height: 40px;
    position: absolute;
    top: -39px;
    left: 0;
    width: 100%;
  }
  .img-avatar {
    position: absolute;
    width: 350px;
    right: 98px;
    top: -50px;
    z-index: 1;
  }
}
.wthree_tab_content {
  .info {
    display: flex;
    flex-wrap: wrap;
    margin-right: 8%;
    width: -moz-calc(100% - 350px); /* Firefox */
    width: -webkit-calc(100% - 350px); /* WebKit */
    width: -o-calc(100% - 350px); /* Opera */
    width: calc(100% - 350px); /* Standard */
    > li {
      width: 46%;
      min-width: 395px;
      margin-right: 30px;
      padding: 10px 0;
      border-bottom: 1px dashed #babcbf;
      .title {
        background-color: #21aec0;
        color: #fff;
        padding: 5px;
        vertical-align: middle;
        border-radius: 8px;
        margin-right: 15px;
      }
    }
  }
}

.detail-content {
  background-color: #f1f2f3;
  color: #2a2e31;
  .barWrapper {
    .progressText {
      font-size: 20px;
      margin: 8px 5px;
      label {
        background-color: #fe9300;
        padding: 3px 5px;
        margin: 5px;
        font-size: 14px;
        color: #fff;
        border-radius: 6px;
      }
    }
    .el-progress {
      .el-progress-bar__outer {
        background-color: #babcbf;
        // .el-progress-bar__inner{
        //     border-radius:unset;
        // }
      }
    }
    & + .barWrapper {
      margin-top: 15px;
    }
  }
  .detail-list {
    .points {
      .el-icon-success {
        color: #21aec0;
      }
    }
  }
}
.experience-content {
  background: #2a2e31;
  color: #888888;
  .message-item {
    margin-bottom: 25px;
    margin-left: 40px;
    position: relative;
  }
  .message-item .message-inner {
    background: #3d4347;
    border: 1px solid #797979;
    border-radius: 3px;
    padding: 15px;
    position: relative;
  }
  .message-item .message-inner:before {
    border-right: 10px solid #5e5e5e;
    border-style: solid;
    border-width: 10px;
    color: rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    left: -20px;
    top: 6px;
    width: 0;
  }
  .message-item .message-inner:after {
    border-right: 10px solid #3d4347;
    border-style: solid;
    border-width: 10px;
    color: rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    left: -18px;
    top: 6px;
    width: 0;
  }
  .message-item:before {
    background: #484848;
    border-radius: 2px;
    bottom: -30px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    content: "";
    height: 100%;
    left: -30px;
    position: absolute;
    width: 3px;
  }
  .message-item:after {
    background: #21aec0;
    border: 2px solid #21aec0;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    content: "";
    height: 15px;
    left: -36px;
    position: absolute;
    top: 10px;
    width: 15px;
  }
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }
  .message-item .message-head {
    border-bottom: 1px solid #656565;
    margin-bottom: 8px;
    padding-bottom: 8px;
    color: #fff;
  }
  .message-item .message-head .avatar {
    margin-right: 20px;
  }
  .message-item .message-head .user-detail {
    overflow: hidden;
  }
  .message-item .message-head .user-detail h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #fff;
  }
  .message-item .message-head .post-meta {
    float: left;
    padding: 0 15px 0 0;
  }
  .message-item .message-head .post-meta > div {
    color: #333;
    font-weight: bold;
    text-align: right;
  }
  .post-meta > div {
    color: #777;
    font-size: 12px;
    line-height: 22px;
  }
  .message-item .message-head .post-meta > div {
    color: #a5a5a5;
    font-weight: bold;
    text-align: right;
  }
  .post-meta > div {
    color: #777;
    font-size: 12px;
    line-height: 22px;
  }
  .qa-message-content {
    line-height: 25px;
    .qa-message-item {
      > span {
        color: #c0c4cc;
        font-weight: 600;
        padding-left: 5px;
      }
      .qa-info {
        font-size: 14px;
        // color:#a7aeb3;
        color: #909399;
      }
      & + .qa-message-item {
        margin-top: 10px;
      }
    }
  }
}
.project-content {
  background: url(/images/pro_bg.png);
  background-size: cover;
  position: relative;
  .content-title {
    color: #2a2e31;
    position: relative;
  }
  .project-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
  }
  .project-container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    // justify-content: space-between;
    margin: 8px 0;
    .project-item {
      width: 300px;
      height: 300px;
      background-image: url(/images/pro_item.png);
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      border: 5px solid hsla(0, 0%, 100%, 0);
      border-radius: 5px;
      margin: 8px 0;
      cursor: pointer;
      .item-mask {
        position: absolute;
        top: 70px;
        left: 33px;
        height: 155px;
        width: 224px;
        background-color: rgba(58, 52, 42, 0.6);
      }
      &::before {
        content: "";
        position: absolute;
        top: 70px;
        left: 33px;
        height: 155px;
        width: 224px;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: rgba(58, 52, 42, 0.5);
      }
      &.product {
        &::before {
          background-image: url(/images/product.jpeg);
        }
      }
      &.skill {
        &::before {
          background-image: url(/images/skill.jpeg);
        }
      }
      &.permission {
        &::before {
          background-image: url(/images/permission.jpeg);
        }
      }
      // &::after{
      //     position: absolute;
      //     top: 30px;
      //     right: 30px;
      //     bottom: 30px;
      //     left: 30px;
      //     // border: 1px solid #03a9f4;
      //     content: '';
      //     z-index: 1;
      // }
      > h2 {
        text-align: center;
        margin: 30% 0 10px 0;
        transform: translate3d(0, 100%, 0);
        color: #a3a3a3;
        color: #fefefe;
        position: relative;
        z-index: 3;
        font-size: 20px;
      }
      > p {
        position: relative;
        z-index: 3;
        color: #fefefe;
        padding: 0 40px;
        font-size: 14px;
      }
      > p {
        opacity: 0;
        transition: opacity 0.35s, transform 0.35s;
        transform: scale(0);
      }
      &:hover {
        > h2 {
          transform: translate3d(0, -60px, 0);
          color: #03a9f4;
          color: #b72f33;
          // z-index: 1;
        }
        > p {
          z-index: 5;
        }
        // &::after{
        //     z-index: 3;
        // }
        > p {
          opacity: 1;
          transform: scale(1);
          // color: #adadad;
          // z-index: 6;
        }
      }
    }
  }
  .project-tab {
    // margin:30px 0;
    position: absolute;
    // width:390px;
    background-color: #21aec0;
    border-radius: 40px;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    display: flex;
    color: #ab004a;
    font-size: 16px;
    bottom: 0;
    cursor: pointer;
    > span {
      width: 300px;
      text-align: center;
      position: relative;
      z-index: 2;
      cursor: pointer;
      &.active {
        color: #fff;
      }
    }
    .cover {
      position: absolute;
      top: 9px;
      left: 0;
      width: 110px;

      z-index: 1;
      transition: left 0.1s ease-in-out;
      .cover-top {
        height: 32px;
        border-radius: 40px;
        background-color: #3d4347;
        border: 1px solid #797979;
        border-bottom: none;
      }
      .cover-bottom {
        display: flex;
        height: 40px;
        background-color: #3d4347;
        justify-content: space-between;

        > div {
          width: 40px;
          height: 100%;
          overflow: hidden;
          border: 1px solid #797979;
          border-top: none;
        }
        .left-cover {
          border-radius: 0 40px 40px 0;
          border-left: none;
        }
        .right-cover {
          border-radius: 40px 0 0 40px;
          border-right: none;
        }
        .cover-up {
          height: 9px;
          background-color: #21aec0;
        }
        .cover-down {
          background-color: #2a2e31;
          height: 30px;
        }
      }
    }
  }
  //   .project-detail {
  //     min-height: 300px;
  //     background: rgba(61, 73, 71, 0.6);
  //     box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.18);
  //     border: 5px solid rgba(228, 231, 237, 0.8);
  //   }
}
.project-detail {
  background: #2a2e31;

  .project-detail-content {
    // background: #21aec0;
    // background: rgba(33, 174, 192,0.2);
    background: #3d4347;
    border: 1px solid #797979;
    border-radius: 3px;
    padding: 30px;
    min-height: 300px;
    line-height: 25px;
    .project-detail-item {
      > span {
        color: #c0c4cc;
        font-weight: 600;
        padding-left: 5px;
      }
      .detail-info {
        font-size: 14px;
        color: #909399;
      }
      & + .project-detail-item {
        margin-top: 10px;
      }
    }
  }
}
.footer-nav {
  height: 80px;
  background: #121416;
  color: #909399;
  transition: color 0.3s ease;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  .copyright {
    float: left;
    font-size: 14px;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    > img {
      width: 90px;
    }
    > p {
      display: inline-block;
      margin-left: 15px;
    }
  }
  .nav-contact {
    float: right;
    font-size: 30px;
    margin-top: 23px;
    > i {
      &.iconfont {
        font-size: 30px;
      }
      &:hover {
        color: #fff;
      }
    }
  }
}
